<!doctype html>
<html>
<head>
    <title>支付测试</title>
</head>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<body>

<script src="jquery.min.js"></script>
    <script type="text/javascript">
        wx.config({
            debug: true,
            appId: '<%= res.appid %>',
            timestamp: '<%= res.timestamp %>',
            nonceStr: '<%= res.noncestr %>',
            signature: '<%= res.signature %>',
            jsApiList: []
        });
        wx.ready(function () {

        });
        wx.error(function () {

        });
        
        function testpay() {
            $.ajax({
                type: "post",
                async: true,
                url: "/pay/jsapi",
                contentType: "application/json; charset=utf-8",
                data : {
                    "bid":"0",
                    "title":"ceshi",
                    "fee":"0.01",
                    "ip":"61.144.175.161",
                    "openid":"or0Ylt2REO-tK55RP-zSvLV4f6MY"
                },
                success:function(data){
                    console.log(typeof data)
                    console.log(data)
                    wx.chooseWXPay({//发起微信支付请求
                        timeStamp: data.timeStamp,
                        nonceStr: data.nonceStr,
                        package: data.package,
                        signType: data.signType,
                        paySign: data.package,
                        success: function (res) {
                            console.log('res:', res);
                        }
                    })
                },
                error:function(err){
                    console.log('----- err -----')
                    console.error(err)
                }
            })
        }
    </script>
<p style="font-size: 100px" onclick="testpay()">点击支付</p>
</body>
</html>